body {
    background-color: cadetblue;
}

h1 {
    color: aliceblue;
}

.cont-pr .row * {
    padding: 1rem 2rem;
    background-color: lavender;
    border: 1px blueviolet solid;
}

.my-navbar-color {
    background-color: rgb(175, 144, 203);
}

.my-color-btn {
    border: solid 1px rgb(54, 46, 159);
    color: rgb(54, 46, 159);
}

.my-color-btn:hover {
    background-color: rgb(27, 12, 76);
    color: aliceblue;
}